@model ST.Models.ImageGallery
<style>
    .img-resize {
        height: 454px;
        width: 516px;
        object-fit: cover;
        object-position: center center;
    }
</style>
<div class="col-lg-6 col-md-6 pb-4 filter @Model.Event.Event_Title.Replace(" ","_")">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
  
        <img class="card-img-top img-fluid d-block mx-auto img-resize" src="@WC.GalleryImagePath@Model.Image_Name" alt="Card image cap">

    </div>
</div>
