<link rel="stylesheet" href="~/css/icon_animation.css" asp-append-version="true" />
<div class="container p-3 border-2">
    <div class="row">

        <div class="col-12 border">
            Kalendārs
        </div>
  
    </div>
</div>