@model ST.Models.ViewModels.AP.EventVM
@{
    var title = "Create Event";
}

<form method="post" enctype="multipart/form-data">
    @if (Model.Event.Event_ID != 0)
    {
        title = "Edit Event";
        <input asp-for="Event.Event_ID" hidden />
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Event.Event_Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Event.Event_Title" class="form-control" />
                        <span asp-validation-for="Event.Event_Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Event.Event_ShortDescription"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Event.Event_ShortDescription" class="form-control" />
                        <span asp-validation-for="Event.Event_ShortDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Event.Event_Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Event.Event_Description" class="form-control" />
                        <span asp-validation-for="Event.Event_Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Event.Event_ID != 0)
                            {
                            <input type="submit" class="btn btn-info w-100" value="Update" />

                            }else{
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Insert" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
    <partial name="_Validationscriptspartial" />
    }}


